.container{
    /* display:flex;
    justify-content: center; */

    display:ruby-base-container;
    position: relative;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    margin: 0 auto;
    width:50%;
    padding:100px;
}

.icons{
    margin-right: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
    background-repeat: no-repeat;
    background-image: none;
}
